services:
  - type: web
    name: Firmamento-Dashboard
    env: python
    buildCommand: ""
    startCommand: gunicorn app:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        value: clave-secreta-firme-2024
      - key: APP_PASSWORD
        value: firmamento123  